<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Not Going</title>
	<link rel="stylesheet" href="/styles/either.css">
</head>
<body>
	<a href="/">Go Back</a>
	<div class="container">
		{{#notgoing}}
			<div class="card">
				<div class="pic"><img src={{pic}}></div>
				<div class="info"><h3>Name:</h3> {{name}}<br><h3>Phone:</h3> {{phone}}<br><h3>Email:</h3> {{email}}</div>
			</div>
		{{/notgoing}}
	</div>
</body>
</html>